body {
  margin: 20px;
}

.field {
  display: block;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
}

.input {
  display: inline-block;
  margin-bottom: 10px;
}

.text {
  display: inline-block;
}

.button {
  margin-top: 20px;
}
